@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700;1,800&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --o-white: hsl(0, 0%, 94%);
    --l-grey: hsl(0, 0%, 86%);
    --s-grey: hsl(0, 1%, 44%);
    --o-black: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
    --error: hsl(0, 100%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--o-white);
    display: grid;
    place-items: center;
}

#root {
    padding: 5rem;
    width: max-content;
    background-color: var(--white);
    border-radius: 3rem 3rem 20rem 3rem;
}

.err-txt {
    color: var(--error);
}

input {
    font-size: 32px;
}

.grid-container {
    display: grid;
    padding-right: 8rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.field-name {
    font-weight: 800;
    font-style: normal;
}
.grid-container input {
    width: 8rem;
    border: 1px solid var(--l-grey);
    padding: 0.5rem;
    border-radius: 5px;
    display: block;
}

.purple-txt {
    color: var(--purple);
}

.btn {
    border-radius: 50%;
    border: none;
    padding: 1rem;
    background-color: var(--purple);
    flex: 0 0 max-content;
}

hr {
    flex: 1 1 auto;
}

.flex-row {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 5rem;
}