@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700;1,800&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --o-white: hsl(0, 0%, 94%);
    --l-grey: hsl(0, 0%, 86%);
    --s-grey: hsl(0, 1%, 44%);
    --o-black: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
    --error: hsl(0, 100%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--o-white);
    display: grid;
    place-items: center;
}

#root {
    padding: 5rem;
    width: max-content;
    background-color: var(--white);
    border-radius: 3rem 3rem 20rem 3rem;
}

.err-txt {
    color: var(--error);
}

input {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 6rem;
    border: 1px solid var(--l-grey);
    padding: 0.5rem;
    border-radius: 5px;
    display: block;
}

input:focus {
    outline-color: var(--purple);
}

/* remove arrows from inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.grid-container {
    display: grid;
    place-items: center;
    padding-right: 8rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.field-name {
    font-weight: 800;
    font-style: normal;
}

.purple-txt {
    color: var(--purple);
}

.btn {
    border-radius: 50%;
    border: none;
    padding: 1rem;
    background-color: var(--purple);
    flex: 0 0 max-content;
    box-shadow: 0 0 0.1rem black;
    transition: background-color 0.2s;
}
.btn:hover {
    background-color:var(--o-black)
}

hr {
    flex: 1 1 auto;
}

.flex-row {
    display: flex;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 5rem;
}

@media (max-width: 830px) {
    #root {
        padding: 5rem 2.5rem;
    }
    .flex-row {
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
    .flex-row hr {
        position: absolute;
        top: 50%;
        left: 0; right: 0;
    }
    .btn {
        z-index: 1;
    }
    .grid-container {
        padding-right: 0;
    }
}

@media (max-width: 650px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 460px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }
}